{% extends 'base.html' %}

{% block contenido %}
  <h2>Restablecer contraseña</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="sumit">Enviar correo electrónico</button>
  
  </form>

{% endblock %}

<center>
    <div class="container" style="margin-top: 370xp;">
        <div class="messages">
            {% for massage in messages %}
                <table{% if message.tags %} class="{{ message.tag }}"{% endif %}>{{ messages }}</table>
            {% endefor %}
        </div>
    </div>
</center>
